.container {
  height: 400px;
  width: 100%;
  margin: 5rem auto;
  max-width: 1200px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
